.contry {
  min-height: 85vh;
  padding: 30px;
}
.btnContry {
  display: flex;
  width: 90px;
  height: 30px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0.5px #999;
  cursor: pointer;
  svg {
    width: 20px;
    margin: 0 5px;
  }
}

.flag {
  width: 100%;
  margin: 10px 0;
  box-shadow: 0px 0px 5px 0.5px #aaa;
}
.wrapDiv {
  margin-top: 15px;
}

.countryName {
  font-size: 16px;
  line-height: 2em;
  text-align: left;
}
.description {
  font-weight: 600;
  line-height: 2em;
  text-align: left;
  span {
    font-weight: 100;
  }
}

.wrapCountries {
  display: flex;
  justify-content: space-between;
}
.btnBorder {
  display: flex;
  padding: 5px;
  flex-grow: 1;
  max-width: 120px;
  margin: 0 5px;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0.5px #999;
  cursor: pointer;
}
