.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 0px 30px;
  position: relative;
  overflow: hidden;
  @media (max-width: 740px) {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }
}
.btnCountry {
  align-self: flex-start;
  display: flex;
  width: 90px;
  height: 30px;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0.5px #999;
  cursor: pointer;
  svg {
    width: 20px;
    margin: 0 5px;
  }
  @media (min-width: 740px) {
    position: absolute;
    top: 0;
    left: 30px;
  }
}
.wrapFlag {
  width: 45%;

  @media (max-width: 740px) {
    width: 100%;
  }
}
.flag {
  width: 100%;
  box-shadow: 0px 0px 5px 0.5px #aaa;
}

.wrapDescription {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 740px) {
    width: 100%;
  }
}
.countryName {
  width: 60%;
  font-size: 16px;
  line-height: 2em;
}
.wrapContent {
  width: 50%;
  margin-top: 15px;
  @media (max-width: 740px) {
    width: 100%;
  }
}
.description {
  font-size: 12px;
  font-weight: 600;
  line-height: 2em;
  text-align: left;
  span {
    font-weight: 100;
    font-size: 12px;
  }
}

.wrapBorderBtn {
  margin-top: 15px;
}

.btnBorder {
  margin: 0 5px;
  padding: 5px;
  max-width: 120px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0.5px #999;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
}
